In [1]:
import numpy as np
import pandas as pd
import scanpy as sc
# from SEACells import SEACells
from scipy.io import mmread
import os
import scipy
import scipy.io
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
# Some plotting aesthetics
%matplotlib inline

sns.set_style('ticks')
matplotlib.rcParams['figure.figsize'] = [4, 4]
matplotlib.rcParams['figure.dpi'] = 100

In [3]:
import pandas as pd
anno = pd.read_csv("../hackthon/10x_pbmc/10x_pbmc_annotation.txt", sep = "\t")
anno.head()

,nCount_RNA,nFeature_RNA,nCount_ATAC,nFeature_ATAC,celltype,broad_celltype
AAACAGCCAAGGAATC,8380,3308,55582,13878,naive CD4 T cells,Lymphoid
AAACAGCCAATCCCTT,3771,1896,20495,7253,memory CD4 T cells,Lymphoid
AAACAGCCAATGCGCT,6876,2904,16674,6528,naive CD4 T cells,Lymphoid
AAACAGCCAGTAGGTG,7614,3061,39454,11633,naive CD4 T cells,Lymphoid
AAACAGCCAGTTTACG,3633,1691,20523,7245,memory CD4 T cells,Lymphoid

In [13]:
anno

,nCount_RNA,nFeature_RNA,nCount_ATAC,nFeature_ATAC,celltype,broad_celltype
AAACAGCCAAGGAATC,8380,3308,55582,13878,naive CD4 T cells,Lymphoid
AAACAGCCAATCCCTT,3771,1896,20495,7253,memory CD4 T cells,Lymphoid
AAACAGCCAATGCGCT,6876,2904,16674,6528,naive CD4 T cells,Lymphoid
AAACAGCCAGTAGGTG,7614,3061,39454,11633,naive CD4 T cells,Lymphoid
AAACAGCCAGTTTACG,3633,1691,20523,7245,memory CD4 T cells,Lymphoid
...,...,...,...,...,...,...
TTTGTTGGTGACATGC,3285,1586,15272,5718,naive CD8 T cells,Lymphoid
TTTGTTGGTGTTAAAC,2866,1525,17869,6629,naive CD8 T cells,Lymphoid
TTTGTTGGTTAGGATT,4148,2024,10558,4267,CD56 (bright) NK cells,Lymphoid
TTTGTTGGTTGGTTAG,2976,1620,17054,6367,memory CD4 T cells,Lymphoid
TTTGTTGGTTTGCAGA,4505,1920,22729,7574,effector CD8 T cells,Lymphoid

In [108]:
barcodes2 = pd.read_csv("../hackthon/10x_pbmc/ATAC/barcodes.tsv", sep = "\t", header=None, index_col)
barcodes2

SyntaxError: positional argument follows keyword argument (754342784.py, line 1)

In [9]:
genes = pd.read_csv("../hackthon/10x_pbmc/RNA/genes.tsv", sep = "\t")
genes.head()

         HES4      HES4.1
0   LINC01342   LINC01342
1    TNFRSF18    TNFRSF18
2     TNFRSF4     TNFRSF4
3       AJAP1       AJAP1
4  AL365255.1  AL365255.1

In [116]:
import h5py
feature = h5py.File("../hackthon/10x_pbmc/pbmc_granulocyte_sorted_10k_raw_feature_bc_matrix.h5",'r+')    
feature

In [117]:
feature["matrix"]['data']

In [118]:
barcodes = [text.decode("utf-8")  for text in feature["matrix"]['barcodes'][:]]
barcodes = [str(text) for text in barcodes]
barcodes = pd.DataFrame(barcodes)
barcodes

                         0
0       AAACAGCCAAACAACA-1
1       AAACAGCCAAACATAG-1
2       AAACAGCCAAACCCTA-1
3       AAACAGCCAAACCTAT-1
4       AAACAGCCAAACCTTG-1
...                    ...
730816  TTTGTTGGTTTGGGTA-1
730817  TTTGTTGGTTTGGTTC-1
730818  TTTGTTGGTTTGTCTA-1
730819  TTTGTTGGTTTGTGGA-1
730820  TTTGTTGGTTTGTTGC-1

[730821 rows x 1 columns]

In [119]:
barcodes.set_index(0)
barcodes.to_csv("../hackthon/10x_pbmc/filtered_barcodes_granulocyte.tsv", header=False, index=False)

In [121]:
barcodes = pd.read_csv("../hackthon/10x_pbmc/filtered_barcodes_granulocyte.tsv", sep = "\t", header=None, index_col=0)
barcodes

Empty DataFrame
Columns: []
Index: [AAACAGCCAAACAACA-1, AAACAGCCAAACATAG-1, AAACAGCCAAACCCTA-1, AAACAGCCAAACCTAT-1, AAACAGCCAAACCTTG-1, AAACAGCCAAACGCGA-1, AAACAGCCAAACGGGC-1, AAACAGCCAAACTAAG-1, AAACAGCCAAACTCAT-1, AAACAGCCAAACTGCC-1, AAACAGCCAAACTGTT-1, AAACAGCCAAAGCCTC-1, AAACAGCCAAAGCGCA-1, AAACAGCCAAAGCGGC-1, AAACAGCCAAAGCTAA-1, AAACAGCCAAAGCTCC-1, AAACAGCCAAAGGCCA-1, AAACAGCCAAAGGTAC-1, AAACAGCCAAATACCT-1, AAACAGCCAAATATCC-1, AAACAGCCAAATGCCC-1, AAACAGCCAAATTCGT-1, AAACAGCCAAATTGCT-1, AAACAGCCAACAACAA-1, AAACAGCCAACACCTA-1, AAACAGCCAACACTTG-1, AAACAGCCAACAGCCT-1, AAACAGCCAACAGGAT-1, AAACAGCCAACAGGTG-1, AAACAGCCAACATAAG-1, AAACAGCCAACCCTAA-1, AAACAGCCAACCCTCC-1, AAACAGCCAACCGCCA-1, AAACAGCCAACCTAAT-1, AAACAGCCAACCTGGT-1, AAACAGCCAACGTGCT-1, AAACAGCCAACTAACT-1, AAACAGCCAACTAGAA-1, AAACAGCCAACTAGCC-1, AAACAGCCAACTAGGG-1, AAACAGCCAACTCGCG-1, AAACAGCCAACTGGCT-1, AAACAGCCAACTGGGA-1, AAACAGCCAAGACTCC-1, AAACAGCCAAGATTCT-1, AAACAGCCAAGCCACT-1, AAACAGCCAAGCCAGA-1, AAACAGCCAAGCGAGC-1, AAACAGCCAAGCGATG-1, AAACAGCCAAGCTAAA-1, AAACAGCCAAGCTACC-1, AAACAGCCAAGCTTAT-1, AAACAGCCAAGCTTTG-1, AAACAGCCAAGGAATC-1, AAACAGCCAAGGACCA-1, AAACAGCCAAGGATTA-1, AAACAGCCAAGGCCAA-1, AAACAGCCAAGGGTTG-1, AAACAGCCAAGGTAAC-1, AAACAGCCAAGGTACG-1, AAACAGCCAAGGTATA-1, AAACAGCCAAGGTCCT-1, AAACAGCCAAGGTCGA-1, AAACAGCCAAGGTGCA-1, AAACAGCCAAGGTGGC-1, AAACAGCCAAGTAAGC-1, AAACAGCCAAGTCGCT-1, AAACAGCCAAGTGAAC-1, AAACAGCCAAGTGTCC-1, AAACAGCCAAGTGTTT-1, AAACAGCCAAGTTATC-1, AAACAGCCAATAACCT-1, AAACAGCCAATAACGA-1, AAACAGCCAATAAGCA-1, AAACAGCCAATAATCC-1, AAACAGCCAATAATGG-1, AAACAGCCAATACTGT-1, AAACAGCCAATAGCAA-1, AAACAGCCAATAGCCC-1, AAACAGCCAATAGTCT-1, AAACAGCCAATATACC-1, AAACAGCCAATATAGG-1, AAACAGCCAATATGGA-1, AAACAGCCAATCATGT-1, AAACAGCCAATCCCTT-1, AAACAGCCAATCCTAG-1, AAACAGCCAATCCTGA-1, AAACAGCCAATCGCAC-1, AAACAGCCAATCTCTC-1, AAACAGCCAATGAAGC-1, AAACAGCCAATGAATG-1, AAACAGCCAATGAGGT-1, AAACAGCCAATGCCCG-1, AAACAGCCAATGCCTA-1, AAACAGCCAATGCGCT-1, AAACAGCCAATTAACC-1, AAACAGCCAATTAAGG-1, AAACAGCCAATTAGCT-1, AAACAGCCAATTAGGA-1, AAACAGCCAATTATGC-1, ...]

[730821 rows x 0 columns]

In [122]:
overlap = pd.merge(barcodes, anno, left_index=True, right_index=True, how='inner')

In [123]:
overlap

Empty DataFrame
Columns: [nCount_RNA, nFeature_RNA, nCount_ATAC, nFeature_ATAC, celltype, broad_celltype]
Index: []

In [83]:
'AAACAGCCAAGGAATC-1' == 'AAACAGCCAACAACAA-1'

False